.box-blue {
   color: white;
   background-color: #060636;
 }


h1 {
  text-align: center;
}

 img {  
  max-width: 50%;  
  height: auto;  
  align-content: center;
  } 

  .card {
    background-color: #2fcc5b;
    width: 200px;
    height: 400px;
  }
